<div id="sidebar" role="sidebar">
  <div class="sidebar-widget">
    <h2 class="widgettitle">Benefits Page – sidebar pic</h2>
    <div class="textwidget">
      <img src="http://www.assurednursing.com/files/2015/11/sidebar-road.jpg" alt="A road in the Rocky Mountains">
    </div>
  </div>
  <div class="sidebar-widget">
    <div class="textwidget">
      <div class="sidebar-text">
        <p>Our dedication to YOU, combined with our understanding of the opportunities, allow us to make Travel Contracts easy and convenient.</p>
        <a href="/jobseeker/Profile_Quick.aspx?" target="_blank" class="red button">Submit Your Resume <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
    </div>
  </div>
</div>