!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head#Head1
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      Search Results
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "initial-scale=1.0; maximum-scale=1.0; user-scalable=yes", :name => "viewport"}/
    %link{:href => "http://www.assurednursing.com/files/2015/10/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/HHStyles.css", :rel => "Stylesheet", :type => "text/css"}/
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "http://www.assurednursing.com/wp-content/themes/131108-Assurednursing.com/Assured-Nursing-2015/styles/boots-bones.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://www.assurednursing.com/wp-content/plugins/bwp-minify/min/?f=wp-content/themes/131108-Assurednursing.com/Assured-Nursing-2015/style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/HHStylesCustom.css", :rel => "Stylesheet", :type => "text/css"}/
    /[if lt IE 9]
<link rel="stylesheet" type="text/css" href="/ie-8.css" />
    /[if lt IE 9]
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %link{:href => "../style/colorbox.css", :rel => "stylesheet", :type => "text/css"}/
  :javascript
      if (typeof jQuery == 'undefined') {
          document.write('
          <script type="text/javascript" src="/js/jquery.min.js">
          </' + 'script>');
      }
  %script{:src => "../js/jquery.colorbox-min.js", :type => "text/javascript"}
  %script{:src => "../js/GetNewTimeStamp.js", :type => "text/javascript"}
  %script{:src => "../js/DefaultButton.js", :type => "text/javascript"}
  %script{:src => "../js/Highlight.js", :type => "text/javascript"}
  %script{:language => "javascript", :type => "text/javascript"}
    :cdata
        var successfulLogin = false;

        jQuery(document).ready(function () {
        jQuery(".hilight").mouseover(function () { jQuery(this).addClass("highlightOn"); })
        \.mouseout(function () { jQuery(this).removeClass("highlightOn"); })
        \.click(function () {
        var url = jQuery(this).attr("url");

        location.href = url;
        return false;
        });

        initColorBox();

        var keywords = document.getElementById("uxKeywords").value.split(",");
        jQuery.each(keywords, function (i) {
        var keyword = keywords[i];
        var wordsOnly = (keyword.indexOf(".") == -1 && keyword.indexOf("#") == -1 && keyword.indexOf("+") == -1 && keyword.indexOf("*") == -1);
        jQuery("#dvResults").highlight(jQuery.trim(keyword.replace("\*", "")), { wordsOnly: wordsOnly });
        });

        });


        function signOut() {
        jQuery.ajax({
        type: "POST",
        url: "/Services/HookServices.asmx/LogoutJobSeeker",
        data: "{'timestamp':'" + GetNewTimeStamp() + "'}",
        contentType: "application/json; charset=utf-8",
        dataType: "json"
        })
        \.success(function () {
        jQuery("#dvSignIn").html(" ");
        initColorBox();
        });
        }

        function initColorBox() {
        jQuery(".signin").colorbox({ iframe: true, innerWidth: 260, innerHeight: 270, onClosed: function () {
        if (successfulLogin) self.location.href = self.location.href;
        }
        });

        jQuery(".colorbox").colorbox({ iframe: true, innerWidth: 260, innerHeight: 270 });
        }
  %body.page.page-id-23.page-template-default
    %header#masthead.site-header{:role => "banner"}
      .container
        #brand
          %h1.site-title
            %a{:href => "http://www.assurednursing.com/", :rel => "home", :title => "Assured Nursing"} Assured Nursing
        / /brand
        #mobile-menu
          %i.fa.fa-bars
        .header-right
          .header-contact
            .header-contact-info
              %i.fa.fa-phone
              (317) 862-8141      
              %a.header-contact-email{:href => "mailto:staffing@assurednursing.com", :target => "_blank"}
                %i.fa.fa-envelope
                staffing@assurednursing.com
            %a.social{:href => "https://www.facebook.com/AssuredNursing", :target => "_blank"}
              %i.fa.fa-facebook
            %a.social{:href => "https://www.instagram.com/assurednursing/", :target => "_blank"}
              %i.fa.fa-instagram
            %a.social{:href => "https://twitter.com/AssuredNursing ", :target => "_blank"}
              %i.fa.fa-twitter
            %a.social{:href => "http://www.linkedin.com/company/assured-nursing-inc?trk=tyah", :target => "_blank"}
              %i.fa.fa-linkedin
          %nav.site-navigation.main-navigation{:role => "navigation"}
            .menu-menu-1-container
              %ul#menu-menu-1.menu
                %li#menu-item-11.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-11
                  %a{:href => "http://www.assurednursing.com/"} Home
                %li#menu-item-12.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-12
                  %a{:href => "http://www.assurednursing.com/about-us/"} About Us
                %li#menu-item-15.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-15
                  %a{:href => "/jobseeker/SearchResults.aspx?featured=1&runsearch=1"} Open Positions
                %li#menu-item-13.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-13
                  %a{:href => "http://www.assurednursing.com/contact-us/"} Contact Us
          / .site-navigation .main-navigation
        .clear
      / /container
    / #masthead .site-header
    .bar.center
      %h3.second-font We place nurses in fabulous places!
      %form#keyword-state-search{:action => "/JobSeeker/SearchResults.aspx", :method => "post"}
        %input#keyword-search{:name => "spKeyword", :placeholder => "Job Title"}/
        %select#state-search{:name => "citystate"}
          %option{:value => ""} Select State
          %option{:value => "AL"} AL
          %option{:value => "AK"} AK
          %option{:value => "AZ"} AZ
          %option{:value => "AR"} AR
          %option{:value => "CA"} CA
          %option{:value => "CO"} CO
          %option{:value => "CT"} CT
          %option{:value => "DE"} DE
          %option{:value => "DC"} DC
          %option{:value => "FL"} FL
          %option{:value => "GA"} GA
          %option{:value => "HI"} HI
          %option{:value => "ID"} ID
          %option{:value => "IL"} IL
          %option{:value => "IN"} IN
          %option{:value => "IA"} IA
          %option{:value => "KS"} KS
          %option{:value => "KY"} KY
          %option{:value => "LA"} LA
          %option{:value => "ME"} ME
          %option{:value => "MD"} MD
          %option{:value => "MA"} MA
          %option{:value => "MI"} MI
          %option{:value => "MN"} MN
          %option{:value => "MS"} MS
          %option{:value => "MO"} MO
          %option{:value => "MT"} MT
          %option{:value => "NE"} NE
          %option{:value => "NV"} NV
          %option{:value => "NH"} NH
          %option{:value => "NJ"} NJ
          %option{:value => "NM"} NM
          %option{:value => "NY"} NY
          %option{:value => "NC"} NC
          %option{:value => "ND"} ND
          %option{:value => "OH"} OH
          %option{:value => "OK"} OK
          %option{:value => "OR"} OR
          %option{:value => "PA"} PA
          %option{:value => "RI"} RI
          %option{:value => "SC"} SC
          %option{:value => "SD"} SD
          %option{:value => "TN"} TN
          %option{:value => "TX"} TX
          %option{:value => "UT"} UT
          %option{:value => "VT"} VT
          %option{:value => "VA"} VA
          %option{:value => "WA"} WA
          %option{:value => "WV"} WV
          %option{:value => "WI"} WI
          %option{:value => "WY"} WY
        %input{:name => "RunSearch", :type => "hidden", :value => "1"}/
        %input{:name => "spSortOrder", :type => "hidden", :value => "2"}/
        %input{:name => "RecordViewCount", :type => "hidden", :value => "1000"}/
        %input#Submit.keyword-state-submit{:type => "submit", :value => "Go!"}/
    .main-container
      #primary
        #content.span8{:role => "main"}
          %article.post
            %h1#pageTitleH1.title
            .the-content
              %form#form1{:action => "./SearchResults.aspx?featured=1&runsearch=1", :method => "post"}
                %input#__VIEWSTATE{:name => "__VIEWSTATE", :type => "hidden", :value => "/wEPDwUKMTg3MTI1ODI3Ng9kFgJmD2QWAgIBD2QWAgIBD2QWDgIBD2QWAgIBDw9kFgIeC3BsYWNlaG9sZGVyBQtTZWFyY2ggSm9ic2QCAg8PFgIeB1Zpc2libGVoZGQCAw8WAh4EVGV4dAUSMS0yMCBvZiAyOSByZXN1bHRzZAIEDxBkZBYBZmQCBQ8WAh4LXyFJdGVtQ291bnQCFBYoAgEPZBYCAgEPFgIeA3VybAVBUmVnaXN0ZXJlZF9OdXJzZV9STl9fUHN5Y2hpYXRyaWNzQmVoYXZpb3JhbF9IZWFsdGhfSjAyNTQxMjAyLmFzcHgWCgIBDw8WBB8CBTZSZWdpc3RlcmVkIE51cnNlIChSTikgLSBQc3ljaGlhdHJpY3MvQmVoYXZpb3JhbCBIZWFsdGgeC05hdmlnYXRlVXJsBUFSZWdpc3RlcmVkX051cnNlX1JOX19Qc3ljaGlhdHJpY3NCZWhhdmlvcmFsX0hlYWx0aF9KMDI1NDEyMDIuYXNweGRkAgMPDxYCHwIFBSAtIElOZGQCBQ8WAh8BaGQCBw8PFgIfAgUMTm92IDEzLCAyMDE3ZGQCCQ8PFgIfAgWWBDxwIGNsYXNzPSJqb2JMaXN0RGVzY3JpcHRpb24iPkluZGlhbmEoTXVsdGlwbGUgTG9jYXRpb25zIEF2YWlsYWJsZSkgSm9iIER1dGllc1RoZSBSZWdpc3RlcmVkIE51cnNlIGRlbW9uc3RyYXRlcyBwZXJmb3JtYW5jZSBjb25zaXN0ZW50IHdpdGggcHJvZmVzc2lvbmFsIHN0YW5kYXJkcyBvZiBwcmFjdGljZSwgY2FyZSwgcGVyZm9ybWFuY2UsIHRoZSBOdXJzZSBQcmFjdGljZSBBY3QgYW5kIHRoZSBtaXNzaW9uIGFuZCBnb2FscyBvZiB0aGUgb3JnYW5pemF0aW9uVGhlIFJlZ2lzdGVyZWQgTnVyc2UgIG1hbmFnZXMgcGF0aWVudCBjYXJlIGluIHRoZSBoZWFsdGggY2FyZSBjb250aW51dW0gdG8gYWNoaWV2ZSBvcHRpbXVtIG91dGNvbWVzIGluIGEgc2FmZSBhbmQgY29zdC1lZmZlY3RpdmUgbWFubmVyVGhlIFJlZ2lzdGVyZWQgTnVyc2UgZGVtb25zdHJhdGVzIHNraWxscyBpbiBjb2xsYWJvcmF0aW9uLCBkZWxlZ2F0aW9uLCBuZWdvdGlhdGlvbiBhbmQgbWFuYWdlbWVudCBvZiByZXNvdXJjZXNFeHBlcmllbmNlIDIgeWVhcnMuLi4uPC9wPmRkAgIPZBYCAgEPFgIfBAU7Q29udHJhY3RfTGFib3JfX0RlbGl2ZXJ5X1JlZ2lzdGVyZWRfTnVyc2VfUk5fSjAyNTM5OTc3LmFzcHgWCgIBDw8WBB8CBS9Db250cmFjdCBMYWJvciAmIERlbGl2ZXJ5IFJlZ2lzdGVyZWQgTnVyc2UgKFJOKR8FBTtDb250cmFjdF9MYWJvcl9fRGVsaXZlcnlfUmVnaXN0ZXJlZF9OdXJzZV9STl9KMDI1Mzk5NzcuYXNweGRkAgMPDxYCHwIFBSAtIElOZGQCBQ8WAh8BaGQCBw8PFgIfAgUMTm92IDA4LCAyMDE3ZGQCCQ8PFgIfAgWWBDxwIGNsYXNzPSJqb2JMaXN0RGVzY3JpcHRpb24iPkN1cnJlbnRseSBzZWVraW5nIGEgTGFib3IgJmFtcDsgRGVsaXZlcnkgUmVnaXN0ZXJlZCBOdXJzZSBmb3IgYSBjb250cmFjdCBvcHBvcnR1bml0eSBpbiBJTi4gVGhlIGlkZWFsIGNhbmRpZGF0ZSB3aWxsIGJlIGEgZ3JhZHVhdGUgZnJvbSBhbiBhY2NyZWRpdGVkIHNjaG9vbCBvZiBOdXJzaW5nLCBwcmVmZXJhYmx5IHdpdGggYSBCU04sIHBvc3Nlc3MgMiYjNDM7IHllYXJzIHJlY2VudCBjbGluaWNhbCBleHBlcmllbmNlIGFzIGEgTGFib3IgJmFtcDsgRGVsaXZlcnkgIFJlZ2lzdGVyZWQgTnVyc2UgYW5kIGhvbGQgYSBjdXJyZW50IFJOIGxpY2Vuc3VyZSBieSBJTiBCb2FyZCBvZiBOdXJzaW5nLiBSZXF1aXJlbWVudHMgb2YgdGhlIENvbnRyYWN0IExhYm9yICZhbXA7IERlbGl2ZXJ5IFJlZ2lzdGVyZWQgTnVyc2UgKFJOKSBHcmFkdWF0ZSBmcm9tIGFuIGFjY3JlZGl0ZWQgc2Nob29sIG9mIE51cnNpbmcsIEJTTiBwcmVmZXJyZWRUd28gb3IgbW9yZSB5ZWFycyByZWNlbnQuLi4uPC9wPmRkAgMPZBYCAgEPFgIfBAUvQ29udHJhY3RfSUNVX1JOX1JlZ2lzdGVyZWRfTnVyc2VfSjAyNTM5OTcyLmFzcHgWCgIBDw8WBB8CBSJDb250cmFjdCBJQ1UgUk4gKFJlZ2lzdGVyZWQgTnVyc2UpHwUFL0NvbnRyYWN0X0lDVV9STl9SZWdpc3RlcmVkX051cnNlX0owMjUzOTk3Mi5hc3B4ZGQCAw8PFgIfAgUFIC0gSU5kZAIFDxYCHwFoZAIHDw8WAh8CBQxOb3YgMDgsIDIwMTdkZAIJDw8WAh8CBZgEPHAgY2xhc3M9ImpvYkxpc3REZXNjcmlwdGlvbiI+Q3VycmVudGx5IHNlZWtpbmcgTWVkaWNhbCBJbnRlbnNpdmUgQ2FyZSBVbml0IFJlZ2lzdGVyZWQgTnVyc2VzIGZvciBjb250cmFjdCBwb3NpdGlvbnMgaW4gSW5kaWFuYS4gVGhlIGlkZWFsIGNhbmRpZGF0ZSB3aWxsIHBvc3Nlc3MgYSBCU04gb3Igd2lsbCBiZSBpbiB0aGUgcHJvY2VzcyBvZiBvYnRhaW5pbmcgb25lLCBob2xkIGEgY3VycmVudCBsaWNlbnNlIHRvIHByYWN0aWNlIGFzIGEgUmVnaXN0ZXJlZCBQcm9mZXNzaW9uYWwgTnVyc2UgIGluIElOIGFuZCBoYXZlIGF0IGxlYXN0IDIgeWVhcnMgb2YgcmVjZW50IG51cnNpbmcgZXhwZXJpZW5jZSBpbiBhIENDVSBvciBJQ1UuIFJlcXVpcmVtZW50cyBvZiB0aGUgQ29udHJhY3QgSUNVIFJOIChSZWdpc3RlcmVkIE51cnNlKSBHcmFkdWF0ZSBmcm9tIGFuIGFjY3JlZGl0ZWQgU2Nob29sIG9mIE51cnNpbmdDdXJyZW50IGxpY2Vuc3VyZSB0byBwcmFjdGljZSBhcyBhIFJlZ2lzdGVyZWQgUHJvZmVzc2lvbmFsIE51cnNlIGluLi4uLjwvcD5kZAIED2QWAgIBDxYCHwQFMUNvbnRyYWN0X05JQ1VfUk5fX1JlZ2lzdGVyZWRfTnVyc2VfSjAyNTM5OTY4LmFzcHgWCgIBDw8WBB8CBSRDb250cmFjdCBOSUNVIFJOICggUmVnaXN0ZXJlZCBOdXJzZSkfBQUxQ29udHJhY3RfTklDVV9STl9fUmVnaXN0ZXJlZF9OdXJzZV9KMDI1Mzk5NjguYXNweGRkAgMPDxYCHwIFBSAtIElOZGQCBQ8WAh8BaGQCBw8PFgIfAgUMTm92IDA4LCAyMDE3ZGQCCQ8PFgIfAgXCAzxwIGNsYXNzPSJqb2JMaXN0RGVzY3JpcHRpb24iPkN1cnJlbnRseSBsb29raW5nIGZvciBhIE5lb25hdGFsIElDVSBudXJzZSB0byBmaWxsIGEgY29udHJhY3Qgb3BlbmluZyBpbiBJTi4gSW50ZXJlc3RlZCBjYW5kaWRhdGVzIHNob3VsZCBoYXZlIGF0IGxlYXN0IDIgeWVhcnMgb2YgZXhwZXJpZW5jZSBhcyBhIE5JQ1UgUk4uIFJlcXVpcmVtZW50c29mIHRoZSBDb250cmFjdCBOSUNVIFJOICggUmVnaXN0ZXJlZCBOdXJzZSkgQmFjaGVsb3Igb2YgU2NpZW5jZSBpbiBOdXJzaW5nIChCU04pQXQgbGVhc3QgIDIgeWVhcnMgb2YgZXhwZXJpZW5jZSBhcyBhIE5JQ1UgUk5DdXJyZW50IFJOIGxpY2Vuc3VyZSBvciBjb21wYWN0IGxpY2Vuc3VyZSByZWNvZ25pemVkIGJ5IHRoZSBUZXhhcyBCb2FyZCBvZiBOdXJzaW5nQkxTLCBOUlAsIEJMUyBhbmQgTlJQQmFzaWMgY29tcHV0ZXIgc2tpbGxzPC9wPmRkAgUPZBYCAgEPFgIfBAUqTGljZW5zZWRfUHJhY3RpY2FsX051cnNlUFJOX0owMjUzOTk2NS5hc3B4FgoCAQ8PFgQfAgUdTGljZW5zZWQgUHJhY3RpY2FsIE51cnNlKFBSTikfBQUqTGljZW5zZWRfUHJhY3RpY2FsX051cnNlUFJOX0owMjUzOTk2NS5hc3B4ZGQCAw8PFgIfAgUNIC0gS29rb21vLCBJTmRkAgUPFgIfAWhkAgcPDxYCHwIFDE5vdiAwOCwgMjAxN2RkAgkPDxYCHwIF1AE8cCBjbGFzcz0iam9iTGlzdERlc2NyaXB0aW9uIj5Mb29raW5nIGZvciBMaWNlbnNlZCBQcmFjdGljYWwgTnVyc2UoUFJOKSBOdW1lcm91cyBMb25nIFRlcm0gQ2FyZSBmYWNpbGl0aWVzLiBEYXksIEV2ZW5pbmcsIGFuZCBOaWdodCBTaGlmdHMgYXZhaWxhYmxlLiBDdXJyZW50IEluZGlhbmEgTGljZW5zZS4gMSB5ZWFyIGV4cGVyaWVuY2UuIEJMUyByZXF1aXJlZC4gPC9wPmRkAgYPZBYCAgEPFgIfBAUVUFJOX1JOX0owMjUzOTk2Ni5hc3B4FgoCAQ8PFgQfAgUGUFJOIFJOHwUFFVBSTl9STl9KMDI1Mzk5NjYuYXNweGRkAgMPDxYCHwIFDyAtIEFuZGVyc29uLCBJTmRkAgUPFgIfAWhkAgcPDxYCHwIFDE5vdiAwOCwgMjAxN2RkAgkPDxYCHwIFVjxwIGNsYXNzPSJqb2JMaXN0RGVzY3JpcHRpb24iPlBSTiBSTiBuZWVkZWQgaW4gSW5kaWFuYXBvbGlzLEluZGlhbmEuIFNoaWZ0cyBWYXJ5LiA8L3A+ZGQCBw9kFgICAQ8WAh8EBRVQUk5fUk5fSjAyNTM5OTYzLmFzcHgWCgIBDw8WBB8CBQZQUk4gUk4fBQUVUFJOX1JOX0owMjUzOTk2My5hc3B4ZGQCAw8PFgIfAgUPIC0gUmljaG1vbmQsIElOZGQCBQ8WAh8BaGQCBw8PFgIfAgUMTm92IDA4LCAyMDE3ZGQCCQ8PFgIfAgVWPHAgY2xhc3M9ImpvYkxpc3REZXNjcmlwdGlvbiI+UFJOIFJOIG5lZWRlZCBpbiBJbmRpYW5hcG9saXMsSW5kaWFuYS4gU2hpZnRzIFZhcnkuIDwvcD5kZAIID2QWAgIBDxYCHwQFF1BzeWNoX1JOX0owMjUzOTk1OS5hc3B4FgoCAQ8PFgQfAgUIUHN5Y2ggUk4fBQUXUHN5Y2hfUk5fSjAyNTM5OTU5LmFzcHhkZAIDDw8WAh8CBRMgLSBJbmRpYW5hcG9saXMsIElOZGQCBQ8WAh8BaGQCBw8PFgIfAgUMTm92IDA4LCAyMDE3ZGQCCQ8PFgIfAgVoPHAgY2xhc3M9ImpvYkxpc3REZXNjcmlwdGlvbiI+UHN5Y2ggUk4oUmVnaXN0ZXJlZCBOdXJzZSkgbmVlZGVkIGluIEluZGlhbmFwb2xpcyxJbmRpYW5hLiBTaGlmdHMgVmFyeTwvcD5kZAIJD2QWAgIBDxYCHwQFGFBzeWNoX0NOQV9KMDI1Mzk5NTguYXNweBYKAgEPDxYEHwIFCVBzeWNoIENOQR8FBRhQc3ljaF9DTkFfSjAyNTM5OTU4LmFzcHhkZAIDDw8WAh8CBRMgLSBJbmRpYW5hcG9saXMsIElOZGQCBQ8WAh8BaGQCBw8PFgIfAgUMTm92IDA4LCAyMDE3ZGQCCQ8PFgIfAgV0PHAgY2xhc3M9ImpvYkxpc3REZXNjcmlwdGlvbiI+UHN5Y2ggQ05BKGNlcnRpZmllZCBudXJzaW5nIGFzc2lzdGFudCkgbmVlZGVkIGluIEluZGlhbmFwb2xpcyxJbmRpYW5hLiBTaGlmdHMgVmFyeTwvcD5kZAIKD2QWAgIBDxYCHwQFGFBzeWNoX0xQTl9KMDI1Mzk5NTYuYXNweBYKAgEPDxYEHwIFCVBzeWNoIExQTh8FBRhQc3ljaF9MUE5fSjAyNTM5OTU2LmFzcHhkZAIDDw8WAh8CBRMgLSBJbmRpYW5hcG9saXMsIElOZGQCBQ8WAh8BaGQCBw8PFgIfAgUMTm92IDA4LCAyMDE3ZGQCCQ8PFgIfAgVyPHAgY2xhc3M9ImpvYkxpc3REZXNjcmlwdGlvbiI+UHN5Y2ggTFBOKGxpY2Vuc2VkIHByYWN0aWNhbCBudXJzZSkgbmVlZGVkIGluIEluZGlhbmFwb2xpcyxJbmRpYW5hLiBTaGlmdHMgVmFyeSA8L3A+ZGQCCw9kFgICAQ8WAh8EBRVQUk5fUk5fSjAyNTM5OTU3LmFzcHgWCgIBDw8WBB8CBQZQUk4gUk4fBQUVUFJOX1JOX0owMjUzOTk1Ny5hc3B4ZGQCAw8PFgIfAgUNIC0gRWx3b29kLCBJTmRkAgUPFgIfAWhkAgcPDxYCHwIFDE5vdiAwOCwgMjAxN2RkAgkPDxYCHwIFVjxwIGNsYXNzPSJqb2JMaXN0RGVzY3JpcHRpb24iPlBSTiBSTiBuZWVkZWQgaW4gSW5kaWFuYXBvbGlzLEluZGlhbmEuIFNoaWZ0cyBWYXJ5LiA8L3A+ZGQCDA9kFgICAQ8WAh8EBSJSTl9SZWdpc3RlcmVkX051cnNlX0owMjUzOTk1MS5hc3B4FgoCAQ8PFgQfAgUVUk4gKFJlZ2lzdGVyZWQgTnVyc2UpHwUFIlJOX1JlZ2lzdGVyZWRfTnVyc2VfSjAyNTM5OTUxLmFzcHhkZAIDDw8WAh8CBRMgLSBJbmRpYW5hcG9saXMsIElOZGQCBQ8WAh8BaGQCBw8PFgIfAgUMTm92IDA4LCAyMDE3ZGQCCQ8PFgIfAgWPAzxwIGNsYXNzPSJqb2JMaXN0RGVzY3JpcHRpb24iPkN1cnJlbnRseSBzZWVraW5nIFJOJ3MgZm9yIExUQyBmYWNpbGl0aWVzIGluIHRoZSBJbmRpYW5hcG9saXMgSU4gYXJlYSBmb3IgUFJOIHBvc2l0aW9ucyBhdCBMb25nIFRlcm0gQ2FyZSBmYWNpbGl0aWVzLiBQb3NpdGlvbnMgc3RhcnQgYXQgJDM3IGFuIGhvdXIuIElkZWFsIFJOJ3Mgd2lsbCBob2xkIGEgY3VycmVudCBsaWNlbnNlIHRvIHByYWN0aWNlIGFzIGEgUk4gaW4gSW5kaWFuYSBhbmQgaGF2ZSBhdCBsZWFzdCAxIHllYXJzIG9mIHJlY2VudCAgbnVyc2luZyBleHBlcmllbmNlLiBBdCBsZWFzdCBvbmUoMSkgeWVhcnMgb2YgcmVjZW50IG51cnNpbmcgZXhwZXJpZW5jZSByZXF1aXJlZC4gQkxTIGNlcnRpZmljYXRpb24gcmVxdWlyZWQuPC9wPmRkAg0PZBYCAgEPFgIfBAUuQ05BX0NlcnRpZmllZF9OdXJzaW5nX0Fzc2lzdGFudF9KMDI1Mzk5NDkuYXNweBYKAgEPDxYEHwIFIUNOQSAoQ2VydGlmaWVkIE51cnNpbmcgQXNzaXN0YW50KR8FBS5DTkFfQ2VydGlmaWVkX051cnNpbmdfQXNzaXN0YW50X0owMjUzOTk0OS5hc3B4ZGQCAw8PFgIfAgUTIC0gSW5kaWFuYXBvbGlzLCBJTmRkAgUPFgIfAWhkAgcPDxYCHwIFDE5vdiAwOCwgMjAxN2RkAgkPDxYCHwIFkgM8cCBjbGFzcz0iam9iTGlzdERlc2NyaXB0aW9uIj5DdXJyZW50bHkgc2Vla2luZyBDTkEncyBmb3IgTFRDIGZhY2lsaXRpZXMgaW4gdGhlIEluZGlhbmFwb2xpcyBJTiBhcmVhIGZvciBQUk4gcG9zaXRpb25zIGF0IExvbmcgVGVybSBDYXJlIGZhY2lsaXRpZXMuIFBvc2l0aW9ucyBzdGFydCBhdCAkMTYgYW4gaG91ci4gSWRlYWwgQ05BJ3Mgd2lsbCBob2xkIGEgY3VycmVudCBsaWNlbnNlIHRvIHByYWN0aWNlIGFzIGEgQ05BIGluIEluZGlhbmEgYW5kIGhhdmUgYXQgbGVhc3QgMSB5ZWFycyBvZiAgcmVjZW50IG51cnNpbmcgZXhwZXJpZW5jZS4gQXQgbGVhc3Qgb25lKDEpIHllYXJzIG9mIHJlY2VudCBudXJzaW5nIGV4cGVyaWVuY2UgcmVxdWlyZWQuIEJMUyBjZXJ0aWZpY2F0aW9uIHJlcXVpcmVkLjwvcD5kZAIOD2QWAgIBDxYCHwQFK0xQTl9MaWNlbnNlZF9QcmFjdGljYWxfTnVyc2VfSjAyNTM5OTUwLmFzcHgWCgIBDw8WBB8CBR5MUE4gKExpY2Vuc2VkIFByYWN0aWNhbCBOdXJzZSkfBQUrTFBOX0xpY2Vuc2VkX1ByYWN0aWNhbF9OdXJzZV9KMDI1Mzk5NTAuYXNweGRkAgMPDxYCHwIFEyAtIEluZGlhbmFwb2xpcywgSU5kZAIFDxYCHwFoZAIHDw8WAh8CBQxOb3YgMDgsIDIwMTdkZAIJDw8WAh8CBZIDPHAgY2xhc3M9ImpvYkxpc3REZXNjcmlwdGlvbiI+Q3VycmVudGx5IHNlZWtpbmcgTFBOJ3MgZm9yIExUQyBmYWNpbGl0aWVzIGluIHRoZSBJbmRpYW5hcG9saXMgSU4gYXJlYSBmb3IgUFJOIHBvc2l0aW9ucyBhdCBMb25nIFRlcm0gQ2FyZSBmYWNpbGl0aWVzLiBQb3NpdGlvbnMgc3RhcnQgYXQgJDI3IGFuIGhvdXIuIElkZWFsIExQTidzIHdpbGwgaG9sZCBhIGN1cnJlbnQgbGljZW5zZSB0byBwcmFjdGljZSBhcyBhIExQTiBpbiBJbmRpYW5hIGFuZCBoYXZlIGF0IGxlYXN0IDEgeWVhcnMgb2YgIHJlY2VudCBudXJzaW5nIGV4cGVyaWVuY2UuIEF0IGxlYXN0IG9uZSgxKSB5ZWFycyBvZiByZWNlbnQgbnVyc2luZyBleHBlcmllbmNlIHJlcXVpcmVkLiBCTFMgY2VydGlmaWNhdGlvbiByZXF1aXJlZC48L3A+ZGQCDw9kFgICAQ8WAh8EBS5DTkFfQ2VydGlmaWVkX051cnNpbmdfQXNzaXN0YW50X0owMjUzOTk0Ni5hc3B4FgoCAQ8PFgQfAgUhQ05BIChDZXJ0aWZpZWQgTnVyc2luZyBBc3Npc3RhbnQpHwUFLkNOQV9DZXJ0aWZpZWRfTnVyc2luZ19Bc3Npc3RhbnRfSjAyNTM5OTQ2LmFzcHhkZAIDDw8WAh8CBQ8gLSBSaWNobW9uZCwgSU5kZAIFDxYCHwFoZAIHDw8WAh8CBQxOb3YgMDgsIDIwMTdkZAIJDw8WAh8CBY8DPHAgY2xhc3M9ImpvYkxpc3REZXNjcmlwdGlvbiI+Q3VycmVudGx5IHNlZWtpbmcgQ05BJ3MgZm9yIExUQyBmYWNpbGl0aWVzIGluIHRoZSBSaWNobW9uZCwgSU4gYXJlYSBmb3IgcHJuIHBvc2l0aW9ucyBhdCBMb25nIFRlcm0gQ2FyZSBmYWNpbGl0aWVzLiBQb3NpdGlvbnMgc3RhcnQgYXQgJDE2IGFuIGhvdXIuIElkZWFsIENOQSdzIHdpbGwgaG9sZCBhIGN1cnJlbnQgbGljZW5zZSB0byBwcmFjdGljZSBhcyBhIENOQSBpbiBJbmRpYW5hIGFuZCBoYXZlIGF0IGxlYXN0IDEgeWVhcnMgb2YgcmVjZW50ICBudXJzaW5nIGV4cGVyaWVuY2UuIEF0IGxlYXN0IG9uZSgxKSB5ZWFycyBvZiByZWNlbnQgbnVyc2luZyBleHBlcmllbmNlIHJlcXVpcmVkLiBCTFMgY2VydGlmaWNhdGlvbiByZXF1aXJlZC48L3A+ZGQCEA9kFgICAQ8WAh8EBS5DTkFfQ2VydGlmaWVkX051cnNpbmdfQXNzaXN0YW50X0owMjUzOTk0Ny5hc3B4FgoCAQ8PFgQfAgUhQ05BIChDZXJ0aWZpZWQgTnVyc2luZyBBc3Npc3RhbnQpHwUFLkNOQV9DZXJ0aWZpZWRfTnVyc2luZ19Bc3Npc3RhbnRfSjAyNTM5OTQ3LmFzcHhkZAIDDw8WAh8CBREgLSBTb3V0aCBCZW5kLCBJTmRkAgUPFgIfAWhkAgcPDxYCHwIFDE5vdiAwOCwgMjAxN2RkAgkPDxYCHwIFkAM8cCBjbGFzcz0iam9iTGlzdERlc2NyaXB0aW9uIj5DdXJyZW50bHkgc2Vla2luZyBDTkEncyBmb3IgTFRDIGZhY2lsaXRpZXMgaW4gdGhlIFNvdXRoIEJlbmQgSU4gYXJlYSBmb3IgcHJuIHBvc2l0aW9ucyBhdCBMb25nIFRlcm0gQ2FyZSBmYWNpbGl0aWVzLiBQb3NpdGlvbnMgc3RhcnQgYXQgJDE2IGFuIGhvdXIuIElkZWFsIENOQSdzIHdpbGwgaG9sZCBhIGN1cnJlbnQgbGljZW5zZSB0byBwcmFjdGljZSBhcyBhIENOQSBpbiBJbmRpYW5hIGFuZCBoYXZlIGF0IGxlYXN0IDEgeWVhcnMgb2YgcmVjZW50ICBudXJzaW5nIGV4cGVyaWVuY2UuIEF0IGxlYXN0IG9uZSgxKSB5ZWFycyBvZiByZWNlbnQgbnVyc2luZyBleHBlcmllbmNlIHJlcXVpcmVkLiBCTFMgY2VydGlmaWNhdGlvbiByZXF1aXJlZC48L3A+ZGQCEQ9kFgICAQ8WAh8EBSJSTl9SZWdpc3RlcmVkX051cnNlX0owMjUzOTk0NC5hc3B4FgoCAQ8PFgQfAgUVUk4gKFJlZ2lzdGVyZWQgTnVyc2UpHwUFIlJOX1JlZ2lzdGVyZWRfTnVyc2VfSjAyNTM5OTQ0LmFzcHhkZAIDDw8WAh8CBREgLSBTb3V0aCBCZW5kLCBJTmRkAgUPFgIfAWhkAgcPDxYCHwIFDE5vdiAwOCwgMjAxN2RkAgkPDxYCHwIFjQM8cCBjbGFzcz0iam9iTGlzdERlc2NyaXB0aW9uIj5DdXJyZW50bHkgc2Vla2luZyBSTidzIGZvciBMVEMgZmFjaWxpdGllcyBpbiB0aGUgU291dGggQmVuZCBJTiBhcmVhIGZvciBwcm4gcG9zaXRpb25zIGF0IExvbmcgVGVybSBDYXJlIGZhY2lsaXRpZXMuIFBvc2l0aW9ucyBzdGFydCBhdCAkMzcgYW4gaG91ci4gSWRlYWwgUk4ncyB3aWxsIGhvbGQgYSBjdXJyZW50IGxpY2Vuc2UgdG8gcHJhY3RpY2UgYXMgYSBSTiBpbiBJbmRpYW5hIGFuZCBoYXZlIGF0IGxlYXN0IDEgeWVhcnMgb2YgcmVjZW50ICBudXJzaW5nIGV4cGVyaWVuY2UuIEF0IGxlYXN0IG9uZSgxKSB5ZWFycyBvZiByZWNlbnQgbnVyc2luZyBleHBlcmllbmNlIHJlcXVpcmVkLiBCTFMgY2VydGlmaWNhdGlvbiByZXF1aXJlZC48L3A+ZGQCEg9kFgICAQ8WAh8EBS5DTkFfQ2VydGlmaWVkX051cnNpbmdfQXNzaXN0YW50X0owMjUzOTk0Mi5hc3B4FgoCAQ8PFgQfAgUhQ05BIChDZXJ0aWZpZWQgTnVyc2luZyBBc3Npc3RhbnQpHwUFLkNOQV9DZXJ0aWZpZWRfTnVyc2luZ19Bc3Npc3RhbnRfSjAyNTM5OTQyLmFzcHhkZAIDDw8WAh8CBQ0gLSBKYXNwZXIsIElOZGQCBQ8WAh8BaGQCBw8PFgIfAgUMTm92IDA4LCAyMDE3ZGQCCQ8PFgIfAgWMAzxwIGNsYXNzPSJqb2JMaXN0RGVzY3JpcHRpb24iPkN1cnJlbnRseSBzZWVraW5nIENOQSdzIGZvciBMVEMgZmFjaWxpdGllcyBpbiB0aGUgSmFzcGVyIElOIGFyZWEgZm9yIHBybiBwb3NpdGlvbnMgYXQgTG9uZyBUZXJtIENhcmUgZmFjaWxpdGllcy4gUG9zaXRpb25zIHN0YXJ0IGF0ICQxNiBhbiBob3VyLiBJZGVhbCBDTkEncyB3aWxsIGhvbGQgYSBjdXJyZW50IGxpY2Vuc2UgdG8gcHJhY3RpY2UgYXMgYSBDTkEgaW4gSW5kaWFuYSBhbmQgaGF2ZSBhdCBsZWFzdCAxIHllYXJzIG9mIHJlY2VudCAgbnVyc2luZyBleHBlcmllbmNlLiBBdCBsZWFzdCBvbmUoMSkgeWVhcnMgb2YgcmVjZW50IG51cnNpbmcgZXhwZXJpZW5jZSByZXF1aXJlZC4gQkxTIGNlcnRpZmljYXRpb24gcmVxdWlyZWQuPC9wPmRkAhMPZBYCAgEPFgIfBAUiUk5fUmVnaXN0ZXJlZF9OdXJzZV9KMDI1Mzk5NDAuYXNweBYKAgEPDxYEHwIFFVJOIChSZWdpc3RlcmVkIE51cnNlKR8FBSJSTl9SZWdpc3RlcmVkX051cnNlX0owMjUzOTk0MC5hc3B4ZGQCAw8PFgIfAgUPIC0gUmljaG1vbmQsIElOZGQCBQ8WAh8BaGQCBw8PFgIfAgUMTm92IDA4LCAyMDE3ZGQCCQ8PFgIfAgWLAzxwIGNsYXNzPSJqb2JMaXN0RGVzY3JpcHRpb24iPkN1cnJlbnRseSBzZWVraW5nIFJOJ3MgZm9yIExUQyBmYWNpbGl0aWVzIGluIHRoZSBSaWNobW9uZCBJTiBhcmVhIGZvciBwcm4gcG9zaXRpb25zIGF0IExvbmcgVGVybSBDYXJlIGZhY2lsaXRpZXMuIFBvc2l0aW9ucyBzdGFydCBhdCAkMzcgYW4gaG91ci4gSWRlYWwgUk4ncyB3aWxsIGhvbGQgYSBjdXJyZW50IGxpY2Vuc2UgdG8gcHJhY3RpY2UgYXMgYSBSTiBpbiBJbmRpYW5hIGFuZCBoYXZlIGF0IGxlYXN0IDEgeWVhcnMgb2YgcmVjZW50ICBudXJzaW5nIGV4cGVyaWVuY2UuIEF0IGxlYXN0IG9uZSgxKSB5ZWFycyBvZiByZWNlbnQgbnVyc2luZyBleHBlcmllbmNlIHJlcXVpcmVkLiBCTFMgY2VydGlmaWNhdGlvbiByZXF1aXJlZC48L3A+ZGQCFA9kFgICAQ8WAh8EBSJSTl9SZWdpc3RlcmVkX051cnNlX0owMjUzOTk0MS5hc3B4FgoCAQ8PFgQfAgUVUk4gKFJlZ2lzdGVyZWQgTnVyc2UpHwUFIlJOX1JlZ2lzdGVyZWRfTnVyc2VfSjAyNTM5OTQxLmFzcHhkZAIDDw8WAh8CBQ0gLSBKYXNwZXIsIElOZGQCBQ8WAh8BaGQCBw8PFgIfAgUMTm92IDA4LCAyMDE3ZGQCCQ8PFgIfAgWJAzxwIGNsYXNzPSJqb2JMaXN0RGVzY3JpcHRpb24iPkN1cnJlbnRseSBzZWVraW5nIFJOJ3MgZm9yIExUQyBmYWNpbGl0aWVzIGluIHRoZSBKYXNwZXIgSU4gYXJlYSBmb3IgcHJuIHBvc2l0aW9ucyBhdCBMb25nIFRlcm0gQ2FyZSBmYWNpbGl0aWVzLiBQb3NpdGlvbnMgc3RhcnQgYXQgJDM3IGFuIGhvdXIuIElkZWFsIFJOJ3Mgd2lsbCBob2xkIGEgY3VycmVudCBsaWNlbnNlIHRvIHByYWN0aWNlIGFzIGEgUk4gaW4gSW5kaWFuYSBhbmQgaGF2ZSBhdCBsZWFzdCAxIHllYXJzIG9mIHJlY2VudCBudXJzaW5nICBleHBlcmllbmNlLiBBdCBsZWFzdCBvbmUoMSkgeWVhcnMgb2YgcmVjZW50IG51cnNpbmcgZXhwZXJpZW5jZSByZXF1aXJlZC4gQkxTIGNlcnRpZmljYXRpb24gcmVxdWlyZWQuPC9wPmRkAgYPFgIfAgUSMS0yMCBvZiAyOSByZXN1bHRzZAIHDxYCHwIFhwI8c3BhbiBjbGFzcz0nbG5rUHJldmlvdXNEaXNhYmxlZCc+UHJldmlvdXM8L3NwYW4+ICZuYnNwOyA8c3BhbiBjbGFzcz0iZnRyTmF2Tm9MaW5rIj4xPC9zcGFuPiAmbmJzcDs8YSBocmVmPSIvam9ic2Vla2VyL1NlYXJjaFJlc3VsdHMuYXNweD9QPTImZmVhdHVyZWQ9MSZydW5zZWFyY2g9MSI+MjwvYT4gPGEgaHJlZj0nL2pvYnNlZWtlci9TZWFyY2hSZXN1bHRzLmFzcHg/UD0yJmZlYXR1cmVkPTEmcnVuc2VhcmNoPTEnIGNsYXNzPSdsbmtOZXh0Jz5OZXh0PC9hPmRkkOn+drD3u05VMD5C0/rqmzJSMvY="}/
                %input#__VIEWSTATEGENERATOR{:name => "__VIEWSTATEGENERATOR", :type => "hidden", :value => "4A301A1A"}/
                %input#__EVENTVALIDATION{:name => "__EVENTVALIDATION", :type => "hidden", :value => "/wEdAAauPLLCD4A9ZSTQV6vPWADIWYW5Ee6sHKT9CehN1wQ9xSTiTGnpKzWAKX88Bx+VLZbfUjX1aFC7L7qtZGGHIqB4vjFSNyC8Lp+BcE1qzJQc09ASZGLk0HWRJkxXyysmWNvbwwyIYRxVboMpu/8eEfhjgfHJNQ=="}/
                #dvHookCntr
                  %input#uxKeywords{:type => "hidden", :value => ""}/
                  #dvSearchResultsContainer
                    #dvSearchResultsTopWrapper
                      #dvSearchHeaderTop
                        #dvSearchResultsSearch
                          #ContentPlaceHolder1_pnlQuickSearch
                            %input#ContentPlaceHolder1_txtSearchPhrase.txtSearchPhrase{:name => "ctl00$ContentPlaceHolder1$txtSearchPhrase", :placeholder => "Search Jobs", :type => "text"}/
                            %a.src_res_adv_lnk{:href => "Search.aspx"} Advanced
                            %input#ContentPlaceHolder1_btnSubmitSearch.form_submit{:name => "ctl00$ContentPlaceHolder1$btnSubmitSearch", :style => "display:none;", :type => "submit", :value => "Search"}/
                        #dvSignIn
                      #dvSearchResultsTop
                        .clear
                          #dvRecordCountTop
                            1-20 of 29 results
                          #dvSearchResultsTopSort
                            Sort By
                            %select#ContentPlaceHolder1_ddlSort{:name => "ctl00$ContentPlaceHolder1$ddlSort"}
                              %option{:selected => "selected", :value => "Date"} Date
                              %option{:value => "Relevance"} Relevance
                              %option{:value => "Alpha"} Alpha
                      %br.clear/
                      #dvResults
                        #ContentPlaceHolder1_rptResults_dvHilight_0.even.hilight{:url => "Registered_Nurse_RN__PsychiatricsBehavioral_Health_J02541202.aspx"}
                          %div
                            .posTitle
                              .posTitleLink
                                %a#ContentPlaceHolder1_rptResults_lnkPositionTitle_0.positionTitleLink{:href => "Registered_Nurse_RN__PsychiatricsBehavioral_Health_J02541202.aspx"} Registered Nurse (RN) - Psychiatrics/Behavioral Health
                              %span#ContentPlaceHolder1_rptResults_lblLocation_0.src_res_job_location - IN
                            .postDate
                              %span#ContentPlaceHolder1_rptResults_lblPostedDate_0 Nov 13, 2017
                          %br{:style => "clear:both"}/
                          .posDesc
                            %span#ContentPlaceHolder1_rptResults_lblDescription_0
                              %p.jobListDescription Indiana(Multiple Locations Available) Job DutiesThe Registered Nurse demonstrates performance consistent with professional standards of practice, care, performance, the Nurse Practice Act and the mission and goals of the organizationThe Registered Nurse  manages patient care in the health care continuum to achieve optimum outcomes in a safe and cost-effective mannerThe Registered Nurse demonstrates skills in collaboration, delegation, negotiation and management of resourcesExperience 2 years....
                          .spacer
                        #ContentPlaceHolder1_rptResults_dvHilight_1.odd.hilight{:url => "Contract_Labor__Delivery_Registered_Nurse_RN_J02539977.aspx"}
                          %div
                            .posTitle
                              .posTitleLink
                                %a#ContentPlaceHolder1_rptResults_lnkPositionTitle_1.positionTitleLink{:href => "Contract_Labor__Delivery_Registered_Nurse_RN_J02539977.aspx"} Contract Labor &amp; Delivery Registered Nurse (RN)
                              %span#ContentPlaceHolder1_rptResults_lblLocation_1.src_res_job_location - IN
                            .postDate
                              %span#ContentPlaceHolder1_rptResults_lblPostedDate_1 Nov 08, 2017
                          %br{:style => "clear:both"}/
                          .posDesc
                            %span#ContentPlaceHolder1_rptResults_lblDescription_1
                              %p.jobListDescription Currently seeking a Labor &amp; Delivery Registered Nurse for a contract opportunity in IN. The ideal candidate will be a graduate from an accredited school of Nursing, preferably with a BSN, possess 2+ years recent clinical experience as a Labor &amp; Delivery  Registered Nurse and hold a current RN licensure by IN Board of Nursing. Requirements of the Contract Labor &amp; Delivery Registered Nurse (RN) Graduate from an accredited school of Nursing, BSN preferredTwo or more years recent....
                          .spacer
                        #ContentPlaceHolder1_rptResults_dvHilight_2.even.hilight{:url => "Contract_ICU_RN_Registered_Nurse_J02539972.aspx"}
                          %div
                            .posTitle
                              .posTitleLink
                                %a#ContentPlaceHolder1_rptResults_lnkPositionTitle_2.positionTitleLink{:href => "Contract_ICU_RN_Registered_Nurse_J02539972.aspx"} Contract ICU RN (Registered Nurse)
                              %span#ContentPlaceHolder1_rptResults_lblLocation_2.src_res_job_location - IN
                            .postDate
                              %span#ContentPlaceHolder1_rptResults_lblPostedDate_2 Nov 08, 2017
                          %br{:style => "clear:both"}/
                          .posDesc
                            %span#ContentPlaceHolder1_rptResults_lblDescription_2
                              %p.jobListDescription Currently seeking Medical Intensive Care Unit Registered Nurses for contract positions in Indiana. The ideal candidate will possess a BSN or will be in the process of obtaining one, hold a current license to practice as a Registered Professional Nurse  in IN and have at least 2 years of recent nursing experience in a CCU or ICU. Requirements of the Contract ICU RN (Registered Nurse) Graduate from an accredited School of NursingCurrent licensure to practice as a Registered Professional Nurse in....
                          .spacer
                        #ContentPlaceHolder1_rptResults_dvHilight_3.odd.hilight{:url => "Contract_NICU_RN__Registered_Nurse_J02539968.aspx"}
                          %div
                            .posTitle
                              .posTitleLink
                                %a#ContentPlaceHolder1_rptResults_lnkPositionTitle_3.positionTitleLink{:href => "Contract_NICU_RN__Registered_Nurse_J02539968.aspx"} Contract NICU RN ( Registered Nurse)
                              %span#ContentPlaceHolder1_rptResults_lblLocation_3.src_res_job_location - IN
                            .postDate
                              %span#ContentPlaceHolder1_rptResults_lblPostedDate_3 Nov 08, 2017
                          %br{:style => "clear:both"}/
                          .posDesc
                            %span#ContentPlaceHolder1_rptResults_lblDescription_3
                              %p.jobListDescription Currently looking for a Neonatal ICU nurse to fill a contract opening in IN. Interested candidates should have at least 2 years of experience as a NICU RN. Requirementsof the Contract NICU RN ( Registered Nurse) Bachelor of Science in Nursing (BSN)At least  2 years of experience as a NICU RNCurrent RN licensure or compact licensure recognized by the Texas Board of NursingBLS, NRP, BLS and NRPBasic computer skills
                          .spacer
                        #ContentPlaceHolder1_rptResults_dvHilight_4.even.hilight{:url => "Licensed_Practical_NursePRN_J02539965.aspx"}
                          %div
                            .posTitle
                              .posTitleLink
                                %a#ContentPlaceHolder1_rptResults_lnkPositionTitle_4.positionTitleLink{:href => "Licensed_Practical_NursePRN_J02539965.aspx"} Licensed Practical Nurse(PRN)
                              %span#ContentPlaceHolder1_rptResults_lblLocation_4.src_res_job_location - Kokomo, IN
                            .postDate
                              %span#ContentPlaceHolder1_rptResults_lblPostedDate_4 Nov 08, 2017
                          %br{:style => "clear:both"}/
                          .posDesc
                            %span#ContentPlaceHolder1_rptResults_lblDescription_4
                              %p.jobListDescription Looking for Licensed Practical Nurse(PRN) Numerous Long Term Care facilities. Day, Evening, and Night Shifts available. Current Indiana License. 1 year experience. BLS required.
                          .spacer
                        #ContentPlaceHolder1_rptResults_dvHilight_5.odd.hilight{:url => "PRN_RN_J02539966.aspx"}
                          %div
                            .posTitle
                              .posTitleLink
                                %a#ContentPlaceHolder1_rptResults_lnkPositionTitle_5.positionTitleLink{:href => "PRN_RN_J02539966.aspx"} PRN RN
                              %span#ContentPlaceHolder1_rptResults_lblLocation_5.src_res_job_location - Anderson, IN
                            .postDate
                              %span#ContentPlaceHolder1_rptResults_lblPostedDate_5 Nov 08, 2017
                          %br{:style => "clear:both"}/
                          .posDesc
                            %span#ContentPlaceHolder1_rptResults_lblDescription_5
                              %p.jobListDescription PRN RN needed in Indianapolis,Indiana. Shifts Vary.
                          .spacer
                        #ContentPlaceHolder1_rptResults_dvHilight_6.even.hilight{:url => "PRN_RN_J02539963.aspx"}
                          %div
                            .posTitle
                              .posTitleLink
                                %a#ContentPlaceHolder1_rptResults_lnkPositionTitle_6.positionTitleLink{:href => "PRN_RN_J02539963.aspx"} PRN RN
                              %span#ContentPlaceHolder1_rptResults_lblLocation_6.src_res_job_location - Richmond, IN
                            .postDate
                              %span#ContentPlaceHolder1_rptResults_lblPostedDate_6 Nov 08, 2017
                          %br{:style => "clear:both"}/
                          .posDesc
                            %span#ContentPlaceHolder1_rptResults_lblDescription_6
                              %p.jobListDescription PRN RN needed in Indianapolis,Indiana. Shifts Vary.
                          .spacer
                        #ContentPlaceHolder1_rptResults_dvHilight_7.odd.hilight{:url => "Psych_RN_J02539959.aspx"}
                          %div
                            .posTitle
                              .posTitleLink
                                %a#ContentPlaceHolder1_rptResults_lnkPositionTitle_7.positionTitleLink{:href => "Psych_RN_J02539959.aspx"} Psych RN
                              %span#ContentPlaceHolder1_rptResults_lblLocation_7.src_res_job_location - Indianapolis, IN
                            .postDate
                              %span#ContentPlaceHolder1_rptResults_lblPostedDate_7 Nov 08, 2017
                          %br{:style => "clear:both"}/
                          .posDesc
                            %span#ContentPlaceHolder1_rptResults_lblDescription_7
                              %p.jobListDescription Psych RN(Registered Nurse) needed in Indianapolis,Indiana. Shifts Vary
                          .spacer
                        #ContentPlaceHolder1_rptResults_dvHilight_8.even.hilight{:url => "Psych_CNA_J02539958.aspx"}
                          %div
                            .posTitle
                              .posTitleLink
                                %a#ContentPlaceHolder1_rptResults_lnkPositionTitle_8.positionTitleLink{:href => "Psych_CNA_J02539958.aspx"} Psych CNA
                              %span#ContentPlaceHolder1_rptResults_lblLocation_8.src_res_job_location - Indianapolis, IN
                            .postDate
                              %span#ContentPlaceHolder1_rptResults_lblPostedDate_8 Nov 08, 2017
                          %br{:style => "clear:both"}/
                          .posDesc
                            %span#ContentPlaceHolder1_rptResults_lblDescription_8
                              %p.jobListDescription Psych CNA(certified nursing assistant) needed in Indianapolis,Indiana. Shifts Vary
                          .spacer
                        #ContentPlaceHolder1_rptResults_dvHilight_9.odd.hilight{:url => "Psych_LPN_J02539956.aspx"}
                          %div
                            .posTitle
                              .posTitleLink
                                %a#ContentPlaceHolder1_rptResults_lnkPositionTitle_9.positionTitleLink{:href => "Psych_LPN_J02539956.aspx"} Psych LPN
                              %span#ContentPlaceHolder1_rptResults_lblLocation_9.src_res_job_location - Indianapolis, IN
                            .postDate
                              %span#ContentPlaceHolder1_rptResults_lblPostedDate_9 Nov 08, 2017
                          %br{:style => "clear:both"}/
                          .posDesc
                            %span#ContentPlaceHolder1_rptResults_lblDescription_9
                              %p.jobListDescription Psych LPN(licensed practical nurse) needed in Indianapolis,Indiana. Shifts Vary
                          .spacer
                        #ContentPlaceHolder1_rptResults_dvHilight_10.even.hilight{:url => "PRN_RN_J02539957.aspx"}
                          %div
                            .posTitle
                              .posTitleLink
                                %a#ContentPlaceHolder1_rptResults_lnkPositionTitle_10.positionTitleLink{:href => "PRN_RN_J02539957.aspx"} PRN RN
                              %span#ContentPlaceHolder1_rptResults_lblLocation_10.src_res_job_location - Elwood, IN
                            .postDate
                              %span#ContentPlaceHolder1_rptResults_lblPostedDate_10 Nov 08, 2017
                          %br{:style => "clear:both"}/
                          .posDesc
                            %span#ContentPlaceHolder1_rptResults_lblDescription_10
                              %p.jobListDescription PRN RN needed in Indianapolis,Indiana. Shifts Vary.
                          .spacer
                        #ContentPlaceHolder1_rptResults_dvHilight_11.odd.hilight{:url => "RN_Registered_Nurse_J02539951.aspx"}
                          %div
                            .posTitle
                              .posTitleLink
                                %a#ContentPlaceHolder1_rptResults_lnkPositionTitle_11.positionTitleLink{:href => "RN_Registered_Nurse_J02539951.aspx"} RN (Registered Nurse)
                              %span#ContentPlaceHolder1_rptResults_lblLocation_11.src_res_job_location - Indianapolis, IN
                            .postDate
                              %span#ContentPlaceHolder1_rptResults_lblPostedDate_11 Nov 08, 2017
                          %br{:style => "clear:both"}/
                          .posDesc
                            %span#ContentPlaceHolder1_rptResults_lblDescription_11
                              %p.jobListDescription Currently seeking RN's for LTC facilities in the Indianapolis IN area for PRN positions at Long Term Care facilities. Positions start at $37 an hour. Ideal RN's will hold a current license to practice as a RN in Indiana and have at least 1 years of recent  nursing experience. At least one(1) years of recent nursing experience required. BLS certification required.
                          .spacer
                        #ContentPlaceHolder1_rptResults_dvHilight_12.even.hilight{:url => "CNA_Certified_Nursing_Assistant_J02539949.aspx"}
                          %div
                            .posTitle
                              .posTitleLink
                                %a#ContentPlaceHolder1_rptResults_lnkPositionTitle_12.positionTitleLink{:href => "CNA_Certified_Nursing_Assistant_J02539949.aspx"} CNA (Certified Nursing Assistant)
                              %span#ContentPlaceHolder1_rptResults_lblLocation_12.src_res_job_location - Indianapolis, IN
                            .postDate
                              %span#ContentPlaceHolder1_rptResults_lblPostedDate_12 Nov 08, 2017
                          %br{:style => "clear:both"}/
                          .posDesc
                            %span#ContentPlaceHolder1_rptResults_lblDescription_12
                              %p.jobListDescription Currently seeking CNA's for LTC facilities in the Indianapolis IN area for PRN positions at Long Term Care facilities. Positions start at $16 an hour. Ideal CNA's will hold a current license to practice as a CNA in Indiana and have at least 1 years of  recent nursing experience. At least one(1) years of recent nursing experience required. BLS certification required.
                          .spacer
                        #ContentPlaceHolder1_rptResults_dvHilight_13.odd.hilight{:url => "LPN_Licensed_Practical_Nurse_J02539950.aspx"}
                          %div
                            .posTitle
                              .posTitleLink
                                %a#ContentPlaceHolder1_rptResults_lnkPositionTitle_13.positionTitleLink{:href => "LPN_Licensed_Practical_Nurse_J02539950.aspx"} LPN (Licensed Practical Nurse)
                              %span#ContentPlaceHolder1_rptResults_lblLocation_13.src_res_job_location - Indianapolis, IN
                            .postDate
                              %span#ContentPlaceHolder1_rptResults_lblPostedDate_13 Nov 08, 2017
                          %br{:style => "clear:both"}/
                          .posDesc
                            %span#ContentPlaceHolder1_rptResults_lblDescription_13
                              %p.jobListDescription Currently seeking LPN's for LTC facilities in the Indianapolis IN area for PRN positions at Long Term Care facilities. Positions start at $27 an hour. Ideal LPN's will hold a current license to practice as a LPN in Indiana and have at least 1 years of  recent nursing experience. At least one(1) years of recent nursing experience required. BLS certification required.
                          .spacer
                        #ContentPlaceHolder1_rptResults_dvHilight_14.even.hilight{:url => "CNA_Certified_Nursing_Assistant_J02539946.aspx"}
                          %div
                            .posTitle
                              .posTitleLink
                                %a#ContentPlaceHolder1_rptResults_lnkPositionTitle_14.positionTitleLink{:href => "CNA_Certified_Nursing_Assistant_J02539946.aspx"} CNA (Certified Nursing Assistant)
                              %span#ContentPlaceHolder1_rptResults_lblLocation_14.src_res_job_location - Richmond, IN
                            .postDate
                              %span#ContentPlaceHolder1_rptResults_lblPostedDate_14 Nov 08, 2017
                          %br{:style => "clear:both"}/
                          .posDesc
                            %span#ContentPlaceHolder1_rptResults_lblDescription_14
                              %p.jobListDescription Currently seeking CNA's for LTC facilities in the Richmond, IN area for prn positions at Long Term Care facilities. Positions start at $16 an hour. Ideal CNA's will hold a current license to practice as a CNA in Indiana and have at least 1 years of recent  nursing experience. At least one(1) years of recent nursing experience required. BLS certification required.
                          .spacer
                        #ContentPlaceHolder1_rptResults_dvHilight_15.odd.hilight{:url => "CNA_Certified_Nursing_Assistant_J02539947.aspx"}
                          %div
                            .posTitle
                              .posTitleLink
                                %a#ContentPlaceHolder1_rptResults_lnkPositionTitle_15.positionTitleLink{:href => "CNA_Certified_Nursing_Assistant_J02539947.aspx"} CNA (Certified Nursing Assistant)
                              %span#ContentPlaceHolder1_rptResults_lblLocation_15.src_res_job_location - South Bend, IN
                            .postDate
                              %span#ContentPlaceHolder1_rptResults_lblPostedDate_15 Nov 08, 2017
                          %br{:style => "clear:both"}/
                          .posDesc
                            %span#ContentPlaceHolder1_rptResults_lblDescription_15
                              %p.jobListDescription Currently seeking CNA's for LTC facilities in the South Bend IN area for prn positions at Long Term Care facilities. Positions start at $16 an hour. Ideal CNA's will hold a current license to practice as a CNA in Indiana and have at least 1 years of recent  nursing experience. At least one(1) years of recent nursing experience required. BLS certification required.
                          .spacer
                        #ContentPlaceHolder1_rptResults_dvHilight_16.even.hilight{:url => "RN_Registered_Nurse_J02539944.aspx"}
                          %div
                            .posTitle
                              .posTitleLink
                                %a#ContentPlaceHolder1_rptResults_lnkPositionTitle_16.positionTitleLink{:href => "RN_Registered_Nurse_J02539944.aspx"} RN (Registered Nurse)
                              %span#ContentPlaceHolder1_rptResults_lblLocation_16.src_res_job_location - South Bend, IN
                            .postDate
                              %span#ContentPlaceHolder1_rptResults_lblPostedDate_16 Nov 08, 2017
                          %br{:style => "clear:both"}/
                          .posDesc
                            %span#ContentPlaceHolder1_rptResults_lblDescription_16
                              %p.jobListDescription Currently seeking RN's for LTC facilities in the South Bend IN area for prn positions at Long Term Care facilities. Positions start at $37 an hour. Ideal RN's will hold a current license to practice as a RN in Indiana and have at least 1 years of recent  nursing experience. At least one(1) years of recent nursing experience required. BLS certification required.
                          .spacer
                        #ContentPlaceHolder1_rptResults_dvHilight_17.odd.hilight{:url => "CNA_Certified_Nursing_Assistant_J02539942.aspx"}
                          %div
                            .posTitle
                              .posTitleLink
                                %a#ContentPlaceHolder1_rptResults_lnkPositionTitle_17.positionTitleLink{:href => "CNA_Certified_Nursing_Assistant_J02539942.aspx"} CNA (Certified Nursing Assistant)
                              %span#ContentPlaceHolder1_rptResults_lblLocation_17.src_res_job_location - Jasper, IN
                            .postDate
                              %span#ContentPlaceHolder1_rptResults_lblPostedDate_17 Nov 08, 2017
                          %br{:style => "clear:both"}/
                          .posDesc
                            %span#ContentPlaceHolder1_rptResults_lblDescription_17
                              %p.jobListDescription Currently seeking CNA's for LTC facilities in the Jasper IN area for prn positions at Long Term Care facilities. Positions start at $16 an hour. Ideal CNA's will hold a current license to practice as a CNA in Indiana and have at least 1 years of recent  nursing experience. At least one(1) years of recent nursing experience required. BLS certification required.
                          .spacer
                        #ContentPlaceHolder1_rptResults_dvHilight_18.even.hilight{:url => "RN_Registered_Nurse_J02539940.aspx"}
                          %div
                            .posTitle
                              .posTitleLink
                                %a#ContentPlaceHolder1_rptResults_lnkPositionTitle_18.positionTitleLink{:href => "RN_Registered_Nurse_J02539940.aspx"} RN (Registered Nurse)
                              %span#ContentPlaceHolder1_rptResults_lblLocation_18.src_res_job_location - Richmond, IN
                            .postDate
                              %span#ContentPlaceHolder1_rptResults_lblPostedDate_18 Nov 08, 2017
                          %br{:style => "clear:both"}/
                          .posDesc
                            %span#ContentPlaceHolder1_rptResults_lblDescription_18
                              %p.jobListDescription Currently seeking RN's for LTC facilities in the Richmond IN area for prn positions at Long Term Care facilities. Positions start at $37 an hour. Ideal RN's will hold a current license to practice as a RN in Indiana and have at least 1 years of recent  nursing experience. At least one(1) years of recent nursing experience required. BLS certification required.
                          .spacer
                        #ContentPlaceHolder1_rptResults_dvHilight_19.odd.hilight{:url => "RN_Registered_Nurse_J02539941.aspx"}
                          %div
                            .posTitle
                              .posTitleLink
                                %a#ContentPlaceHolder1_rptResults_lnkPositionTitle_19.positionTitleLink{:href => "RN_Registered_Nurse_J02539941.aspx"} RN (Registered Nurse)
                              %span#ContentPlaceHolder1_rptResults_lblLocation_19.src_res_job_location - Jasper, IN
                            .postDate
                              %span#ContentPlaceHolder1_rptResults_lblPostedDate_19 Nov 08, 2017
                          %br{:style => "clear:both"}/
                          .posDesc
                            %span#ContentPlaceHolder1_rptResults_lblDescription_19
                              %p.jobListDescription Currently seeking RN's for LTC facilities in the Jasper IN area for prn positions at Long Term Care facilities. Positions start at $37 an hour. Ideal RN's will hold a current license to practice as a RN in Indiana and have at least 1 years of recent nursing  experience. At least one(1) years of recent nursing experience required. BLS certification required.
                          .spacer
                      #dvSearchResultsFooter
                        #dvRecordCount
                          1-20 of 29 results
                        #dvLinks
                          %span.lnkPreviousDisabled Previous
                           
                          %span.ftrNavNoLink 1
                           
                          %a{:href => "/jobseeker/SearchResults.aspx?P=2&featured=1&runsearch=1"} 2
                          %a.lnkNext{:href => "/jobseeker/SearchResults.aspx?P=2&featured=1&runsearch=1"} Next
            / the-content
        / #content .site-content
      / #primary .content-area
      #sidebar{:role => "sidebar"}
        .sidebar-widget
          %h2.widgettitle Benefits Page – sidebar pic
          .textwidget
            %img{:alt => "A road in the Rocky Mountains", :src => "http://www.assurednursing.com/files/2015/11/sidebar-road.jpg"}/
        .sidebar-widget
          .textwidget
            .sidebar-text
              %p Our dedication to YOU, combined with our understanding of the opportunities, allow us to make Travel Contracts easy and convenient.
              %a.red.button{:href => "/jobseeker/Profile_Quick.aspx?", :target => "_blank"}
                Submit Your Resume
                %i.fa.fa-arrow-circle-o-right
      / #sidebar
    / .main-container
    %footer.site-footer{:role => "contentinfo"}
      .container
        .half.left
          %img{:alt => "Assured Nursing", :src => "app/assets/images/footer-logo.jpg"}/
          %img{:alt => "National Quality Approval", :src => "app/assets/images/footer-logo2.png"}/
          %img{:alt => "Certified Women's Business Enterprise", :src => "app/assets/images/footer-wbe.png"}/
          %img{:alt => "Travelers Conference Exhibitor", :src => "app/assets/images/Proud-Exhibitor.png"}/
        .half.right.alignright
          %h4 Give us a call! (317) 862-8141
          %p © 2018 Assured Nursing. All Rights Reserved.
          %p
            Site by
            %a{:href => "https://www.topechelon.com/recruiting-websites/", :target => "_blank"} Top Echelon
