<body class="home page-template page-template-page-home page-template-page-home-php page page-id-2">
<!-- #masthead .site-header -->
<div id="home-top">
  <div class="half left">
    <h2 class="home-tagline-left">We Place
      <strong>Nurses</strong>
    </h2>
  </div>
  <div class="half right">
    <h2 class="home-tagline-right second-font">in Fabulous Places</h2>
  </div>
</div>
<div class="main-fluid">
  <!-- start the page containter -->
  <div class="row-fluid">
    <div role="main">
      <article class="post">
        <div class="the-content">
          <div class="left">
            <div id="vmap" style="width: 100%"></div>
            <h3 class="second-font center">Select a state to find a job !</h3>
          </div>
          <div class="right">
            <h3>Flexible Medical Staffing Solutions</h3>
            <p>Founded by a Nurse, for Nurses. If you are looking for Flexibility, Variety, Change, Options, Travel, a New Challenge, or a different work/life balance; our placement specialist have options for YOU.</p>
            <p>
              <a class="button" href="http://jobs.assurednursing.com/jobseeker/Profile_Quick.aspx?" target="_blank">Submit Your Resume
                <i class="fa fa-arrow-circle-o-right"></i>
              </a>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
<div class="bar center">
  <div class="container">
    <span class="blue-title">View Jobs by Title:</span>
    <!--These are the links for what type of jobs-->
    <a href="http://jobs.assurednursing.com/JobSeeker/SearchResults.aspx?spKeyword=rn+or+%22registered+nurse%22&spPayType=0&runsearch=1">RN</a> &bull;
    <a href="http://jobs.assurednursing.com/JobSeeker/SearchResults.aspx?spKeyword=cst+or+%22certified+surgical+technologist%22&spPayType=0&runsearch=1">CST</a> &bull;
    <a href="http://jobs.assurednursing.com/JobSeeker/SearchResults.aspx?spKeyword=cna+or+%22certified+nursing+assistant%22&spPayType=0&runsearch=1">CNA</a> &bull;
    <a href="http://jobs.assurednursing.com/JobSeeker/SearchResults.aspx?defaultSearch=1&runsearch=1">Other Healthcare Positions</a>
  </div>
</div>
<div id="home-bottom">
  <div class="container">
    <div class="half left">
      <h3>Benefits of Contract Nursing</h3>
      <ul>
        <li>Our Specialists work for YOU</li>
        <li>We manage the contracts for YOU</li>
        <li>We manage travel for YOU</li>
        <li>We manage living arrangements for YOU</li>
        <li>We manage payroll for YOU</li>
      </ul>
      <a href="http://assurednursing.hiringhook.com/benefits-of-contract-nursing/">And Many More!</a>
      <!-- <ul><li>We have contracts with hundreds of Healthcare<br>facilities across the US</li><li>We search the market for Healthcare openings</li><li>We show you your opportunities</li></ul> -->
    </div>
  </div>
</div>
<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="half left">
      <%= image_tag ("footer-logo.jpg"), alt: "Logo Footer" %>
      <%= image_tag ("footer-logo2.png"), alt: "National Quality Approval" %>
      <%= image_tag ("footer-wbe.png"), alt: "Certified Women's Business Enterprise" %>
      <%= image_tag ("Proud-Exhibitor.png"), alt: "Traveler's Conference Exhibitor" %>
    </div>
    <div class="half right alignright">
      <h4>Give us a call! (317) 862-8141</h4>
      <p>&copy; 2018 Assured Nursing. All Rights Reserved. </p>
    </div>
  </div>
</footer>
<!-- #colophon .site-footer -->
<script type='text/javascript' src='http://www.assurednursing.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='http://www.assurednursing.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='http://www.assurednursing.com/wp-content/plugins/bwp-minify/min/?f=wp-content/themes/131108-Assurednursing.com/Assured-Nursing-2015/js/jquery.fitvids.js,wp-content/themes/131108-Assurednursing.com/Assured-Nursing-2015/js/theme.min.js,wp-includes/js/wp-embed.min.js'></script>
<link href="/wp-content/themes/131108-Assurednursing.com/Assured-Nursing-2015/map/jqvmap.css" media="screen" rel="stylesheet" type="text/css" />
<script src="/wp-content/themes/131108-Assurednursing.com/Assured-Nursing-2015/map/jquery.vmap.js" type="text/javascript"></script>
<script src="/wp-content/themes/131108-Assurednursing.com/Assured-Nursing-2015/map/jquery.vmap.usa.js" type="text/javascript"></script>
<script src="/wp-content/themes/131108-Assurednursing.com/Assured-Nursing-2015/map/jqvmap.search.js"  type="text/javascript"></script>
</body>
</html>